{% extends 'backend/base.html' %}
{% block content %}
    
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            {% comment %} <section class="content-header">
                <h1>
                    Page Header
                    <small>Optional description</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                    <li class="active">Here</li>
                </ol>
            </section> {% endcomment %}

                <!-- Main content -->
                <section class="content container-fluid">
                    <div class="box box-primary">
                        <!-- form start -->
                        <h1 class="box-title">Add Subject</h1>
                        <form action="{% url 'add_subject' %}" method="POST" role="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="container">
                                <div class="box-body">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label for="cls_name" class="text-primary">Class</label>
                                        </div>
                                        <div class="col-md-7">
                                            <select name="c_id" required class="form-control">
                                                <option selected="selected">Select Class</option>
                                                {% for cd in cld %}
                                                <option value="{{cd.id}}">{{cd.name}}</option>
                                                {% endfor %}
                                            </select>
                                            
                                            <label class="text-danger"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label for="name" class="text-primary">Subject</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" name="name" required class="form-control">
                                            <label class="text-danger"></label>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="form-group text-center">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
{% endblock %}


